html {
    height: 100%;
}
body {
    background-color: #FC5E55;
    background: linear-gradient(#FC5E55, #FA4083);
    font-family: 'Playfair Display', serif;
    color: white;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Flexbox header */
.headerimage {
    flex: 1;
}
nav {
    flex: 1;
    text-align: end;
}
nav a {
    text-decoration: none;
    color: white;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

/* Flexbox main */
.herobox1 {
    flex: 2;
}
.herobox2 {
    flex: 1;
}

/* Flexbox cards */
.cards {
    background-color: rgb(151, 85, 151);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.card1 {
    background-color: rgb(131, 74, 131);
    min-height: 300px;
    width: 30%;
}
.card2 {
    background-color: rgb(107, 60, 107);
    min-height: 300px;
    width: 30%;
}
.card3 {
    background-color: rgb(82, 46, 82);
    min-height: 300px;
    width: 30%;
}
h1 {
    font-size: 80px;
}